<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{siteUrl}}../assets/style.css">
		<title>Zomato App</title>
	</head>
	<body>
		<h1>
			{{ siteName }}
		</h1>

		{{   entry.richtext  }}

		{% hook 'restaurants-hook' %}
	</body>
	<footer>
		{{siteInfo.siteDescription}}</body>
</html></footer></html>
